/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
    object-fit: contain;
}

.heart {
    font-size: 40px;
    color: #EF3E36;
}

.burb {
    color: #F9C80E;
}
.fly{
    color: #F9C80E;
}


