.header{
    display: flex;
    /* basically seperates them into cornes and middle*/
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}
.heart{
    font-size: 40px;
    background-color: pink;
    /* make the size look normal regardles of height*/
    object-fit: contain;
}
.header_icon{
    padding: 20px;
    color: inherit;
    text-decoration: none;
}